[Desktop Entry]
Name=SARMesh
Comment=Meshtastic, MeshCore, and Reticulum mesh network client
Exec=sarmesh %U
Icon=io.github.w9mdm.SARMesh
Type=Application
Categories=Utility;Network;HamRadio;
StartupWMClass=sarmesh
